<div class="login-component container">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-4 mt-4 card p-4">
            <form id="loginForm">
                <div>
                    <div>
                        <label>Courriel</label>
                        <input id="email" class="form-control" type="text" name="email" value="asdasd@gmail.com"/>
                    </div>
                    <div class="mt-2">
                        <label>Mot de passe</label>
                        <input id="password" class="form-control" type="password" name="password" value="test1234"/>
                    </div>
                </div>
                <div class="mt-4 d-flex flex-row justify-content-center">
                    <div>
                        <button id="reset" class="btn btn-secondary">Récupérer mot de passe</button>
                    </div>
                    <div>
                        <button id="login_submit-btn" class="btn btn-primary">Connection</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="d-flex flex-row justify-content-center">
            <a href="/auth/register">Inscription</a>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/auth/login.css" />
<script>
    const validation = new window.JustValidate('#loginForm',
        {},
        [{
            key: 'emailRequired',
            dict: {
                en: 'Email is required',
                fr: 'Courriel est requis',
            }
        },
        {
            key: 'emailInvalid',
            dict: {
                en: 'Email is invalid',
                fr: 'Courriel est invalide',
            }
        },
        {
            key: 'passwordRequired',
            dict: {
                en: 'Password is required',
                fr: 'Mot de passe requis',
            }
        }]
    )
    validation.setCurrentLocale('fr')
    validation
        .addField('#email', [
            {
                rule: 'required',
                errorMessage: 'emailRequired',
            },
            {
                rule: 'email',
                errorMessage: 'emailInvalid',
            },
        ])
        .addField('#password', [
            {
                rule: 'required',
                errorMessage: 'passwordRequired',
            },

        ])
        .onSuccess((event) => {
            event.preventDefault()
            submitLogin()
        }).onFail((fields) => {})
</script>
<script>
    let email = document.getElementById('email')
    let password = document.getElementById('password')
    let reset = document.getElementById('reset')

    reset.addEventListener('click', async function (event) {
        event.preventDefault()
        window.location = ("/auth/reset")
    })

    async function submitLogin() {
        const res = await fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email.value, password: password.value }),
        })
        if (res.status === 200) {
            alertify.notify('Connexion réussie, redirection vers votre page d\'origine', 'success', 5)
        } else {
            alertify.notify('Courriel / mot de passe invalide', 'error', 5)
        }
    }

</script>

{{!-- const body = await res.json() --}}