<div class="register-component container">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-4 mt-4 card p-4">
            <form id="registerForm">
                <div>
                    <div>
                        <label>Courriel</label>
                        <input id="email" class="form-control" type="text" name="email" />
                    </div>
                    <div class="mt-2">
                        <label>Mot de passe</label>
                        <input id="password" class="form-control" type="password" name="password" />
                    </div>
                    <div class="mt-2">
                        <label>Confirmation du mot de passe</label>
                        <input id="passwordConfirm" class="form-control" type="password" name="password" />
                    </div>
                </div>
                <div class="mt-4 d-flex flex-row justify-content-center">
                    <div>
                        <button id="register_submit-btn" class="btn btn-primary">S'inscrire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="d-flex flex-row justify-content-center">
            <a href="/ui/login">Connection</a>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/auth/register.css" />
<script>
    const validation = new window.JustValidate('#registerForm',
        {},
        [{
            key: 'emailRequired',
            dict: {
                en: 'Email is required',
                fr: 'Courriel est requis',
            }
        },
        {
            key: 'emailInvalid',
            dict: {
                en: 'Email is invalid',
                fr: 'Courriel est invalide',
            }
        },
        {
            key: 'passwordRequired',
            dict: {
                en: 'Password is required',
                fr: 'Mot de passe requis',
            }
        },
        {
            key: 'passwordMinLength',
            dict: {
                en: 'Password must be longer than 8',
                fr: 'Mot de passe doit être plus que 8 caractères',
            }
        },
        {
            key: 'passwordNotMatch',
            dict: {
                en: 'Passwords must be identical',
                fr: 'Les mots de passe doivent être identiques',
            }
        }]
    )
    validation.setCurrentLocale('fr')
    validation
        .addField('#email', [
            {
                rule: 'required',
                errorMessage: 'emailRequired',
            },
            {
                rule: 'email',
                errorMessage: 'emailInvalid',
            },
        ])
        .addField('#password', [
            {
                rule: 'required',
                errorMessage: 'passwordRequired',
            },
            {
                rule: 'minLength',
                value: 8,
                errorMessage: 'passwordMinLength',
            },

        ])
        .addField('#passwordConfirm', [
            {
                rule: 'required',
                errorMessage: 'passwordRequired',
            },
            {
                validator: (value, fields) => {
                    if (
                        fields['#password'] &&
                        fields['#password'].elem
                    ) {
                        const repeatPasswordValue =
                            fields['#password'].elem.value;

                        return value === repeatPasswordValue;
                    }

                    return true;
                },
                errorMessage: 'passwordNotMatch',
            }
        ])
        .onSuccess((event) => {
            event.preventDefault()
            submitRegister()
        }).onFail((fields) => { })
</script>

<script>
    let email = document.getElementById('email')
    let password = document.getElementById('password')

    async function submitRegister() {
        const res = await fetch('/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email.value, password: password.value }),
        })
        console.log(res)
        if (res.status === 200) {
            alertify.notify('Inscription réussie, redirection vers votre page d\'origine', 'success', 5)
        } else {
            alertify.notify('Échec de l\'inscription', 'error', 5)
        }
    }
</script>