<div class="reset-component container">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-4 mt-4">
            <form>
                <div>
                    <label>Courriel</label>
                    <input id="emailResetField" class="form-control" type="text" name="email" />
                </div>
                <div class="mt-4 d-flex flex-row justify-content-center">
                    <div>
                        <button id="resetButton" class="btn btn-primary">Envoyer message de réinitialisation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/auth/reset.css" />

<script>
    let email

    document.getElementById('emailResetField').addEventListener('input', function (event) {
        email = event.target.value
    })

    document.getElementById('resetButton').addEventListener('click', async function (event) {
        event.preventDefault()
        const res = await fetch('/auth/reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email }),
        })
    })
</script>