<div class="reset-component container">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-4 mt-4 card p-4">
            <form id="resetForm">
                <div>
                    <label>Courriel</label>
                    <input id="email" name="email" class="form-control" type="text"/>
                </div>
                <div class="mt-4 d-flex flex-row justify-content-center">
                    <div>
                        <button id="reset_submit-btn" class="btn btn-primary">Envoyer message de
                            réinitialisation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const validation = new window.JustValidate('#resetForm',
        {},
        [{
            key: 'Email is required',
            dict: {
                fr: 'Courriel est requis',
            }
        },
        {
            key: 'Email is invalid',
            dict: {
                fr: 'Courriel est invalide',
            }
        }]
    )
    validation.setCurrentLocale('fr')
    validation.addField('#email', [
        {
            rule: 'required',
            errorMessage: 'Email is required',
        },
        {
            rule: 'email',
            errorMessage: 'Email is invalid',
        },
    ]).onSuccess((event) => {
        event.preventDefault()
        submitReset()
    }).onFail((fields) => { })
</script>
<script>
    let emailReset = document.getElementById('email')

    async function submitReset() {
        const res = await fetch('/auth/reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: emailReset.value }),
        })
        alertify.notify('Réinitialisation envoyée, vérifier votre courriel', 'success', 5)
    }

</script>