<form>
    <input id="emailLoginField" type="text" name="email" />
    <button id="loginButton">Reset password</button>
</form>

<script>
    let email

    document.getElementById('emailLoginField').addEventListener('input', function(event) {
        email = event.target.value
    })
    

    document.getElementById('loginButton').addEventListener('click', async function (event) {
        event.preventDefault()
        const res = await fetch('/auth/reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email }),
        })
        console.log(res)
    })
</script>