<div class="container-fluid categories">
    <div class="row text-center">
        <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Cars and trucks</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
                <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Buy and sell</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
                <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Real estate</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
                <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Services</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
                <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Rencontres</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="nav-item dropdown dropdown-hover">
                <a class="nav-link dropdown-toggle " href="#" id="categ1" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Autre</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="categ1">
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                    <li><a class="dropdown-item" href="#">asdasd</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>