<nav class="navbar navbar-expand-lg header">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="/"><span class="navbar-brand text-white fw-bold">CHEAPIFY</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-right: 20px;">
                    <select class="mt-2" id="localeSelectHeader">
                        {{#each uiConfig.locales}}
                        <option value="{{this.langCode}}" {{#ifCond this.langCode '===' ../locale }} selected
                            {{/ifCond}}>{{this.label}}</option>
                        {{/each}}
                    </select>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <select class="mt-2" id="locationSelectHeader">
                        <option value="all">All</option>
                        {{#each uiConfig.cities}}
                        <option value="{{this.path}}" {{#ifCond this.path '===' ../location.path }} selected
                            {{/ifCond}}>
                            {{this.name}}</option>
                        {{/each}}
                    </select>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/ui/create">
                        <i class="fa-solid fa-circle-plus" style="margin-left: 2px;"></i>
                        <span>Créer une annonce</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ui/login">
                        <i class="fa-solid fa-user" style="margin-left: 2px;"></i>
                        <span>Connection</span>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="margin-left: 2px;"></i>
                        <span>Account name</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Mes annonces</a></li>
                        <li><a class="dropdown-item" href="#">Préférences</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/ui/logout">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>



<script>
    document.getElementById('locationSelectHeader').addEventListener('change', async (event) => {
        const res = await fetch(`/location/city/${event.target.value}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ previousUrl: window.location.href }),
        })

        const json = await res.json()
        console.log(json.location)
        console.log(previousUrl)

        if (previousUrl.slice(0, 7) === 'http://' || previousUrl.slice(0, 8) === 'https://') {
            console.log('starts as an url')
        }

        location.reload()
    })

    document.getElementById('localeSelectHeader').addEventListener('change', async (event) => {
        let newUrl = window.location.origin
        const slugs = window.location.pathname.substring(1, window.location.pathname.length).split('/')
        slugs[0] = event.target.value
        newUrl += '/' + slugs.join('/')
        window.location.href = newUrl;
    })
</script>

<style>
    .header {
        background-color: red;
        border-bottom: none;
        max-height: 50px;
    }

    .nav-item>a {
        color: white;
        font-weight: normal;
    }

    .nav-item>a:hover {
        color: white;
        font-weight: normal;
        text-decoration: underline;
    }

    .nav-link:focus,
    .nav-link:hover {
        color: white;
        font-weight: normal;
    }

    .navbar-brand {
        color: white;
        font: bolder;
    }
</style>




{{!--

<div class="header row">
    <div class="col s1">
        <div class="dropdown">
            <div id="city-dropdown" class="dropdown-content">
                <input class="form-control" type="text" placeholder="Search" id="city-input" onkeyup="searchInput()">
                <div id="city-suggestions" class="dropdown-suggestions">
                </div>
            </div>
        </div>
    </div>
    <div class="col s1">
        <div class="dropdown">
            <div id="city-dropdown" class="dropdown-content">
                <input class="form-control" type="text" placeholder="Location" id="city-input"
                    onkeyup="locationInput()">
                <div id="city-suggestions" class="dropdown-suggestions">
                </div>
            </div>
        </div>
    </div>
</div> --}}