<button id="createProject">Create project</button>

{{#each projects}}
<div>
    {{this.title}}
    {{this.description}}
</div>
{{/each}}


<script>
    document.getElementById('createProject').addEventListener('click', async function (event) {

        let title = "My project title"
        let description = "My project description"

        event.preventDefault()
        const res = await fetch('/projects/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ title, description }),
        })
        console.log(res)
    })
</script>